roboto()
    font-family 'Roboto', sans-serif
    font-weight 400

roboto-md()
   font-family 'Roboto', sans-serif
   font-weight 500

open-sans()
   font-family 'Open Sans', sans-serif
   font-weight 400

open-sans()
   font-family 'Open Sans', sans-serif
   font-weight 600

pt-sans()
    font-family 'Pt Sans', sans-serif
    font-weight 400

p,a,span,li,p.h1
    pt-sans()

