p
    font-size 18px

.h1
    font-size 36px
roboto()
    font-family 'Roboto', sans-serif
    font-weight 400

roboto-md()
   font-family 'Roboto', sans-serif
   font-weight 500

open-sans()
   font-family 'Open Sans', sans-serif
   font-weight 400

open-sans()
   font-family 'Open Sans', sans-serif
   font-weight 600

pt-sans()
    font-family 'Pt Sans', sans-serif
    font-weight 400

fugaz()
    font-family 'Fugaz One', sans
    font-weight 400

p,a,span,li,button
    pt-sans()

.bold
    font-weight 700

h1,h2,h3,.h1,.h2,.h3
    fugaz()
