$containerPadding = 15px
.container
    @media screen and (min-width: 768px)
        width 760px
    @media screen and (min-width: 900px)
        width 890px
    @media screen and (min-width: 1200px)
        width 1160px

    width 100%
    padding-left $containerPadding
    padding-right $containerPadding
    margin-left auto
    margin-right auto

.row
    &:before, &:after
        content " "
        display table
    clear both
    padding-left (- $containerPadding)
    padding-right (- $containerPadding)

.col-sm-1
    @media screen and (min-width: 768px)
        float left

    float none
    width 100%
    position relative
    min-height 1px
    padding-left 15px
    padding-right 15px

for numer in 1 2 3 4 5
    for denom in 2 3 4 5 6
        .col-sm-{numer}-{denom}
            @media screen and (min-width: 768px)
                float left
                width (100 * numer/denom)%

            float none
            width 100%
            position relative
            min-height 1px
            padding-left 15px
            padding-right 15px

