$neonGreen = #7BE964
$neonPurp = #C42BE5
$gold = #F4DC7A
$shinyBlack = #07080C

$tablet = 768px
$medium = 900px
$large  = 1200px

@import 'grid'
@import 'util'
@import 'gradients.styl'
@import 'fonts'

*
    box-sizing border-box

body 
    background-color $shinyBlack
    font-family sans-serif
 
    margin 0
    height 100%
    font-size 24px

.btn
    border-radius 5px
    padding 0.75em

 
.btn-cta
    background-color $neonGreen
    color $neonPurp
    box-shadow 2px 2px 0px 2px $neonPurp
    border none

header
    $headPad = 2em
    padding-top $headPad - 1
    padding-bottom $headPad

.lead 
    vertical(darken($neonPurp, 70%), $neonPurp)
    min-height 1px
    .logo
        margin 0 auto

@media screen and (min-width $tablet) 
    .lead 
        z-index 6
 
section.boxes-section
    position relative
    z-index 1
    $sectionPad = 6em
    padding-bottom $sectionPad
    padding-top $sectionPad
    background-image url('/img/bg.jpg')
    background-position 0px -400px

.boxes .col-sm-1-3
    color $gold
    padding 0.3em 0.4em 0.3em 0.4em

    @media screen and (min-width: $tablet)
        min-height 468px

    @media screen and (min-width: $medium)
        min-height 437px

    @media screen and (min-width: 1200px)
        min-height 300px

    transition all 0.2s ease
    box-shadow 0px 0px 2px 4px transparent
    z-index 4
    p
        font-size 30px

    h1 
        font-size 28px
        @media screen and (min-width: $medium)
            font-size 36px
        
    &:hover
        transform translate3d(0px, -3px, 0px)
        box-shadow 0px 0px 10px 2px $neonPurp
        z-index 5

    background-color $shinyBlack
    $radEnd = lighten($shinyBlack, 2%)
    $radStart  = darken($shinyBlack, 50%)

    vertical($radStart, $radEnd)

    &:nth-child(2)
        background-color darken($shinyBlack, 25%)

        $radEnd = lighten($shinyBlack, 0%)
        $radStart  = darken($shinyBlack, 40%)
        vertical($radStart, $radEnd)

    &:nth-child(3)
        background-color darken($shinyBlack, 50%)
        $radEnd = lighten($shinyBlack, 0%)
        $radStart  = darken($shinyBlack, 70%)
        vertical($radStart, $radEnd)

        /*
    &:nth-child(1)
        background-image url('/img/lock.png')
        background-size contain
        background-repeat no-repeat
        background-position center center
        */
        

section.call-cta-container
    $padding = 3em
    padding-top $padding
    padding-bottom $padding
    color $gold
    box-shadow 0px 2px 0px 0px $shinyBlack

    background-color $shinyBlack
    $radStart = lighten($shinyBlack, 2%)
    $radEnd   = darken($shinyBlack, 80%)
    radial($radStart, $radEnd)

    .btn-lg
        font-size 34px

        @media screen and (min-width: $tablet)
            font-size 62px

    p
        font-size 48px
        
        @media screen and (min-width: $tablet)
            font-size 76px

        margin 0
        margin-top 15px

footer
    $footPad = 0em
    padding-top $footPad
    padding-bottom $footPad
    background-color $neonPurp
    margin-bottom 1em

    p
        margin 0
